# Output files
osq_out/

# Secrets
.env

# Python
__pycache__/
*.pyc

# macOS junk
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/
.ruby-lsp/
tap-repo/
docs
__pycache__